# Folders
.pio
.vscode
*.DS_Store
*.fseventsd
*.Spotlight-V100

# KiCad Temp File
*/~*
*.kicad_prl
*fp-info-cache
*fp-lib-table
*-backups
*.lck
*_autosave-*
*#auto_saved_files#
*.zip
.pio

# Python
*__pycache__